*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #8b74c2;
    text-align: center;
} 
h1 { 
    position: relative;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 520px;
    background-color: #8b74c2;
    color: rgb(246, 232, 255);
    text-align: center;
    z-index:1;
   font-size: 48px;
}

.formulario{
    padding: 10px;
    align-items: center;
}
input {
    background: rgba(128, 128, 128, 0.158);
    border: white;
    border-radius: 10px;
    text-align: center;
    font-size: 15px ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.botao{
    padding: 10px 20px;
    background-color: #b1b1b1; 
    color: white;
    border: none;
    cursor: pointer;
}
.botao:hover {
    background-color: #b99cff; 

}






